html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	z-index: 9999;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navigation {
	background: #FFFFFF;
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	padding: 2% 0 2%;
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-left: 4%;
}

.menu {
	padding-right: 4%;
}

.menu_list {
	display: none;
}

.menu:hover .menu_list {
	display: block;
	position: absolute;
	width: 394px;
	height: 835px;
	left: 972px;
	top: 0px;
	border: 1px solid #FFFFFF;
	background: #5A98D0;
	border-radius: 50px 0px 0px 0px;
	padding: 5% 5% 0;
}

.about_menu, .follow_menu, .about, .follow {
	font-family: 'Gilroy Light';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}

.about_menu, .follow_menu {
	margin-bottom: 10%;
}

.about_menu a, .follow_menu a, .about a, .follow a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

.about_menu a {
	margin-bottom: 4%;
}

.follow_menu a {
	margin-bottom: 4%;
}

.head_menu, .head {
	font-family: 'Gilroy Medium';
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.dropdown a:hover {
	text-decoration: underline;
}



.first_screen {
	width: 100%;
	background: url("../img/fon.png") no-repeat;
}

.content {
	margin: 0 auto;
	padding: 3% 0;
	width: 60%;
}

.title {
	font-family: 'Gilroy Regular';
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin: 0;
}

.main_text {
	font-family: 'Gilroy Light';
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
}



.subtitle {
	font-family: 'Gilroy SemiBold';
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.text {
	font-family: 'Gilroy Light';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.6;
}

.connection {
	display: grid;
	grid-template-columns: 45% 55%;
	margin: 0 auto 0;
	width: 70%;
}

.left {
	width: 80%;
	margin-top: 30%;
}

.illustration {
	margin-bottom: 20%;
}

.address, .phone, .online {
	margin-top: 15%;
}

.number, .com {
	display: flex;
	justify-content: space-between;
	width: 58%;
}

.com .text {
	margin-left: 10%;
}

.right {
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	margin-top: 15%;
}

.form {
	margin-left: 10%;
	padding-top: 6%;
}

.mes {
	margin-bottom: 10%;
}

.one, .two {
	margin-bottom: 10%;
}

.name {
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}

.field {
	opacity: 0.4;
	border: 1px solid #356EAD;
	border-radius: 10px;
	width: 88%;
	height: 72px;
}

.message {
	height: 144px;
	margin-bottom: 20%;
}

input::placeholder {
	opacity: 0.4;
	padding-left: 7%;
}

#button {
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	width: 80%;
	height: 72px;
	font-family: 'Gilroy SemiBold';
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin: 10% 10%;
	padding: 5% 34%;
}

#button:hover {
	background: #85bff2;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all 0.3s ease;
}



.map {
	margin: 7% auto;
	width: 70%;
}



.footer {
	background: #316099;
	border-radius: 0px 200px 0px 0px;
	width: 95%;
}

.with_button {
	display: flex;
	justify-content: space-between;
	padding: 3% 16% 6%;
	width: 70%;
}

.info_question {
	width: 55%;
}

#question {
	font-family: 'Gilroy SemiBold';
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-bottom: 5%;
	width: 70%;
}

#text {
	color: #FFFFFF;
}

.btn {
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	border-radius: 10px;
}

#but {
	background: #5A98D0;
	margin-top: 10%;
	padding: 10px 70px;
	height: 30px;
}

#but:hover {
	background: #85bff2;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all 0.3s ease;
}

hr {
	opacity: 0.4;
	border: none;
	background-color: #FFFFFF;
	height: 1px;
	width: 85%;
	margin-left: 0;
}

.contact_info {
	padding: 7% 16% 5%;
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.contacts {
	width: 40%;
	padding-top: 3%;
}

.company {
	width: 70%;
}

.afrianska {
	font-family: 'Gilroy Medium';
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	float: right;
}

#A, #T, #E {
	font-family: 'Gilroy Medium';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	display: flex;
}

.t {
	margin-left: 5%;
	font-family: 'Gilroy Light';
}

#ps {
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.4;
	margin-top: 20%;
	width: 300px;
}

.block {
	display: flex;
	justify-content: space-between;
	width: 45%;
}

.block a:hover {
	text-decoration: underline;
}

.about a {
	margin-top: 10%;
	transition: 3s;
}

.follow a {
	margin-top: 17%;
}

.head {
	margin-bottom: 40px;
}


/* 768px - 1200px */
@media screen and (max-width: 1200px) {
	.menu:hover .menu_list {
		left: 700px;
	}

	.title, .main_text {
		padding: 0;
		margin: 0;
	}

	.title {
		font-size: 38px;
	}

	.text {
		font-size: 15px;
	}

	.connection {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0 auto 0;
		width: 70%;
	}

	.form {
		margin-bottom: 100%;
	}

	.contact_info {
		padding: 7% 16% 10%;
		width: 60%;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.about, .follow {
		margin-bottom: 20%;
	}

	.block, .contacts {
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
	}
}

/* 320px - 768px */
@media screen and (max-width: 992px) {
	.menu:hover .menu_list {
		left: 180px;
	}

	.title, .main_text {
		padding: 0;
		margin: 0;
	}

	.title {
		font-size: 36px;
	}

	.text {
		font-size: 15px;
	}

	.connection {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0 auto 0;
		width: 70%;
	}

	.form {
		margin-bottom: 100%;
	}

	.with_button {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 7% 16% 10%;
	}

	.info_question {
		width: 100%;
	}

	.contact_info {
		padding: 7% 16% 10%;
		width: 60%;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.block, .contacts {
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
	}

	.about, .follow {
		margin-bottom: 20%;
	}
}